/* 
https://www.youtube.com/watch?v=1jkD92rmhD4&ab_channel=CSSnippets || Css Variables : Build a light-dark mode website
https://www.youtube.com/watch?v=oWXm5n-Zi38&ab_channel=CSSnippets || Master CSS Clip-Path : Creating custom shapes with one line of code
https://www.youtube.com/watch?v=p4ZdB71ZO7E&ab_channel=CSSnippets || Responsive CSS Clip-Path : Modern UI Design
*/